.container {
  background-color: rgb(7, 7, 7);
  color: white;
  box-shadow: 0 3px 5px rgba(8, 8, 8, 0.3);
  padding: 2rem;
  
  h1 {
    font-size: 20pt;
  }
  
  /* mobile version */
  @media only screen and (max-width: 600px) {
    padding: 1.5rem;

    h1 {
      font-size: 15pt;
    }
  }

}