* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  background-color: #000000;
}

.title-sep {
  color: white;
  padding: 2rem;
  text-align: center;
  background-color: rgb(7, 7, 7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 15pt;
  font-weight: 400;
}

.grid-project {
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.cv {
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    font-size: 12pt;
  }
  .download {
    background-color: crimson;
    text-decoration: none;
    padding: 1rem;
    color: white;
    width: 300px;
    display: block;
    text-align: center;
    margin: 1rem auto 3rem auto;
    border-radius: 5px;
  }
  .cv-container {
    color: white;
    padding: 2rem;

    ul {
      padding: 1rem;

      li {
        padding-top: 0.5rem;
      }
    }
    @media only screen and (min-width: 600px) {
      h1 {
        font-size: 20pt;
      }
    }
  }
}
.end-site {
  padding: 2rem;
  background-color: rgb(7, 7, 7);
  color: rgb(207, 207, 207);
  text-align: center;
  font-size: 10pt;
}