.container {
  padding: 2rem;
  .left_side {
    h1 {
      color: white;
      font-size: 40pt;
      font-weight: 600;
      padding-bottom: 0.5rem;
      span {
        color: crimson;
      }
    }
    p {
      color: rgb(245, 245, 245);
      font-size: 20pt;
    }
  }

  .right_side {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      object-fit: contain;
      border-radius: 50%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .right_side {
      .logo {
        width: 500px;
        height: 500px;
      }
    }
    .left_side {
      p {
        font-size: 20pt;
      }
    }
  }
  
  /* mobile version */
  @media only screen and (max-width: 600px) {
    .right_side {
      .logo {
        margin-top: 2rem;
      }
    }
    .left_side {
      h1 {
        font-size: 25pt;
      }
      p {
        font-size: 13pt;
      }
    }
  }
}

